.page-active {
  display: block;
}

.page-inactive {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
  margin: 0px;
  border: 0px;
  background-image: url('../images/background.jpeg');
  background-repeat: space;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: cadetblue;
  height: 10vh;
  color: aliceblue;
  font-size: xxx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px;
}

#note-content {
  height: 250px;
  width: 400px;
  border-radius: 10px;
  border-color: cadetblue;
  font-family: Helvetica;
  padding: 10px;
}

#note-content:focus {
  outline: none;
}

#note-creation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-note {
  font-family: Helvetica, sans-serif;
  color: aliceblue;
  background-color: cadetblue;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border: none;
  width: 200px;
  box-shadow: 3px 3px 5px grey;
  cursor: pointer;
}

#create-note:hover {
  background-color: rgb(51, 110, 112);
}

#create-note:active {
  background-color: rgb(51, 110, 112);
  box-shadow: 1px 1px rgb(58, 58, 58);
  transform: translateY(2px);
}

#notes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.container a {
  color: white;
  min-height: 100px;
  min-width: 250px;
  padding: 10px;
  margin: 10px;
  background-color: cadetblue;
  border-radius: 15px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.page-active #note-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#full-note {
  color: white;
  width: fit-content;
  height: fit-content;
  min-height: 150px;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: cadetblue;
  border-radius: 15px;
  flex-wrap: wrap;
}

#back-button {
  font-family: Helvetica, sans-serif;
  color: aliceblue;
  background-color: cadetblue;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  border: none;
  width: 200px;
  box-shadow: 3px 3px 5px grey;
  cursor: pointer;
}

#back-button:hover {
  background-color: rgb(51, 110, 112);
}

#back-button:active {
  background-color: rgb(51, 110, 112);
  box-shadow: 1px 1px rgb(58, 58, 58);
  transform: translateY(2px);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  background-color: cadetblue;
}

footer a {
  font-size: xx-small;
}
